extends ../layouts/application.pug

block header
  = t('layouts.application.statuses')

block content
  a.btn.btn-primary.btn-lg.mb-4(href=route('newTaskStatus'))= t('views.statuses.actions.create')

  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        th= t('views.statuses.actions.label')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            .d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=route('editTaskStatus', { id: status.id }))= t('views.statuses.actions.change')
              +formFor()(action=route('deleteTaskStatus', { id: status.id }) method='post')
                input(name='_method' type='hidden' value='delete')
                +submit(status)(class="btn-danger" value=t('views.statuses.actions.delete'))

